$background-color: #163A24;
$color: #198C36;

body {
    font-family: 'noto sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

@mixin display {
    width: 100%;
    display: flex;
}

.container {
    width: 1200px;
    margin: 0 auto;

}

.header {
    @include display;
    justify-content: space-around;
    background-color: $background-color;
    padding-right: 230px;
    padding-left: 150px;

    .header-nav {
        display: flex;
        width: 600px;
        margin-left: 300px;

        &__link {
            color: white;
        }
    }

    &-nav__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        margin: auto;

        &-nav__item {
            margin-left: 50px;

        }
    }

    &__form {
        display: flex;
        align-items: center;

        .form__btn {
            width: 150px;
            background-color: $color;
            height: 40px;
            border-radius: 20px;
            color: white;
            padding: 10px;
            border-color: #198C36;
        }
    }

}

.main {
    width: 100%;

    .show {
        background-color: #163A24;
        display: flex;
        width: 100%;
        margin: 0 auto;

        &__card {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 150px;

        }

        &__text {
            color: white;
            margin-top: 20px;
        }

        &__title {
            color: white;
            width: 65%;
            font-weight: 700px;
        }

        &__img {
            width: 50%;
            float: left;
        }
    }

    .put {
        display: flex;
        width: 70%;
        margin: 0 auto;
        justify-content: space-between;

        &__card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40%;
        }

        &__img {
            width: 50%;
        }
    }

    .icons {
        width: 78%;
        margin: 0 auto;
        margin-top: 70px;

        &__title {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 50px;
            color: #163A24;
        }
    }

    .hr {
        width: 100%;
        margin-top: 70px;
        background-color: #163A24;
        padding-bottom: 50px;
        padding-top: 50px;

        &__title {
            text-align: center;
            color: white;
            font-size: 2rem;
        }

        &__list {
            width: 74%;
            margin: 0 auto;
            display: flex;
            margin-top: 60px;
            margin-bottom: 70px;

            &__item {
                width: 35%;
                text-align: center;

                .item__text {
                    color: white;
                }

            }
        }
    }

    .sizes {
        background-color: #F2EFE6;
        width: 100%;
        padding-top: 40px;

        &__card {
            text-align: center;
            width: 60%;
            margin: 0 auto;
        }

        &__title {
            width: 40%;
            margin: 0 auto;
            text-align: center;
            font-size: 2rem;
            color: #163A24;

        }

        &__text {
            width: 55%;
            text-align: center;
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        &__img {
            width: 90%;
            margin: 0 auto;
            margin-left: 40px;
        }

    }

    .sider {
        margin-top: 50px;
        width: 100%;

        &__title {
            text-align: center;
            font-size: 2em;
        }

        &__list {
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-top: 60px;
        }

        &__item {
            width: 30%;
            padding: 25px;
            border: 1px solid rgba(0, 0, 0, 0.246);
            border-radius: 10px;
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.244);
            height: 420px;
            display: flex;
            background-color: #FBFAF7;
            flex-direction: column;

            h3 {
                font-size: 2.0em;
                margin-top: 20px;
            }

            p {
                padding: 10px;
                list-style-type: square;
            }

        }

        &__item:hover {
            background-color: white;
        }

        &__img {
            width: 65px;
        }
    }

    .easy {
        background-color: #F2EFE6;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 70px;

        &__list {
            display: flex;
            justify-content: space-around;
        }

        &__item {
            width: 20%;
            text-align: center;

            h4 {
                margin-top: 20px;
                font-size: 1.3em;
            }
        }

        &__form {
            text-align: center;
            margin-top: 30px;
        }

        &__btn {
            width: 200px;
            height: 40px;
            background-color: #198C36;
            border-color: #198C36;
            color: white;
            border-radius: 20px;
        }

    }

    .put {

        align-items: center;

        &__form {
            margin-top: 30px;
        }
    }

    .start {
        width: 100%;
        background-color: #163A24;
        padding: 70px;

        &__title {
            text-align: center;
            color: white;
            font-size: 2em;
        }

        &__text {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 50px;
            color: white;
        }

        &__form {
            text-align: center;

            button {
                width: 200px;
                height: 40px;
                background-color:
                    rgba(250, 181, 160, 1);
                border-radius: 20px;
                border-color: rgba(250, 181, 160, 1);

            }
        }
    }

    .stay {
        padding: 50px;
        display: flex;
        width: 100%;
        justify-content: space-between;

        &__card {
            width: 50%;
        }

        &__form {
            margin-left: 400px;
            width: 60%;
            display: flex;
            flex-direction: column;
            position: relative;

            input {
                width: 60%;
                height: 40px;
                border-radius: 20px;
                outline: none;
                border-color: rgba(0, 0, 0, 0.12);

            }

            button {
                height: 40px;
                border-radius: 20px;
                background-color: #198C36;
                color: white;
                border-color: #198C36;
                position: absolute;
                left: 50%;

            }

            label {
                width: 90%;
            }
        }
    }
}

.footer {
    .iconn {
        color: #198C36;
    }
    .footer__card{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 30px;
    }
    .foot__div{
        display: flex;
        justify-content: space-between;
        padding: 30px;
        
    }
    .div__text{
        width: 40%;
        font-size: 13px;
    }
    &__list{
        display: flex;
        justify-content: space-around;
    }
    .footer__item{
        color: #198C36;
        padding-left: 20px;
    }
}