.footer {
    .iconn {
        color: #198C36;
    }
    .footer__card{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 30px;
    }
    .foot__div{
        display: flex;
        justify-content: space-between;
        padding: 30px;
        
    }
    .div__text{
        width: 40%;
        font-size: 13px;
    }
    &__list{
        display: flex;
        justify-content: space-around;
    }
    .footer__item{
        color: #198C36;
        padding-left: 20px;
    }
}