.show {
    background-color: #163A24;
    display: flex;
    width: 100%;
    margin: 0 auto;

    &__card {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 150px;

    }

    &__text {
        color: white;
        margin-top: 20px;
    }

    &__title {
        color: white;
        width: 65%;
        font-weight: 700px;
    }

    &__img {
        width: 50%;
        float: left;
    }
}